<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        <%- include('includes/header.ejs') %>
        <img class="portrait" src="./img/robot.png" alt="pic">
    </div>
    <!-- <h1><%= title %></h1> -->
    <!-- <%- include('includes/header.ejs') %>
    <img class="portrait" src="./img/robot.png" alt="pic"> -->
    <!-- <p>Created by <%= name %></p> -->
    <%- include('includes/footer.ejs') %>
</body>

</html>